# Lab | Inferential statistics - T-test & P-value

## Case

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [26]:
# getting packages
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
from scipy.stats import norm

In [27]:
# importing data
df = pd.read_excel('machine.xlsx')

In [28]:
# checking data
df.head()

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [29]:
df.describe()
# to check the means

       New machine  Old machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

In [35]:
# obtaining t test & p value
test = ttest_ind(a = df['New machine'], b = df['Old machine'])
test

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)

In [34]:
# checking critical value
critical_value = norm.ppf(0.00321)
critical_value

-2.7255214746222447

The test statistics is lower than the critical value so the evidence is enough to show that one machine is better than the other one and therefore we can reject the null hypothesis